.registration-confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 600px;
  box-shadow: 0 1px 3px rgba(5, 5, 5, 0.1);
  background-color: #fff;
}

.registration-confirmation-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
