<div class="modal-overlay" *ngIf="isOpen" (click)="onOverlayClick($event)">
    <div class="modal-container" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h2 class="modal-title">Sign In</h2>
            <button class="close-button" (click)="onClose()">
                <svg width="24" height="24" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
                </svg>
            </button>
        </div>

        <form class="modal-body" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="label">Email Address</label>
                <input
                    type="email"
                    class="input"
                    placeholder="Enter your email"
                    [(ngModel)]="credentials.email"
                    name="email"
                    required
                />
            </div>

            <div class="form-group">
                <label class="label">Password</label>
                <input
                    type="password"
                    class="input"
                    placeholder="Enter your password"
                    [(ngModel)]="credentials.password"
                    name="password"
                    required
                />
            </div>

            <div class="form-options">
                <label class="checkbox-wrapper">
                    <input
                    type="checkbox"
                    [(ngModel)]="credentials.rememberMe"
                    name="rememberMe"
                    />
                    <span class="checkbox-label">Remember me</span>
                </label>
                <a href="#" class="forgot-link" (click)="onForgotPassword($event)">
                    Forgot password?
                </a>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onClose()">
                    Cancel
                </button>
                <button type="submit" class="btn btn-primary">
                    Sign In
                </button>
            </div>

            <div class="signup-prompt">
                Don't have an account? 
                <a href="/register" class="signup-link">Sign up here</a>
            </div>
        </form>
    </div>
</div>